
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


*{
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    
}
.body{
    background: #040C18;
}
.footer{
    background: #031B34;
}
.navigation{
    background: linear-gradient(to right, #002853 ,#040a14,#040C18 )  ;
    background-size: cover;
}
.signupbtn{
    background-color: #FF4820 !important;
}
.btn:hover{
    background-color: green !important;
    transition: ease-in-out 0.4s ;
}

.firstpage{
    max-width: 95%;
    height: 100vh;

}
.letsbuild{
 background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 font-size: 30px;
 height: 100px;

  
}
.line1, .line2, .line3 {
   max-width: 90%;
  }
.headill{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 22%;
}
.textSub{
    width: 38%;
    margin-top: -28%;
    /* margin-left: 5%; */
    color: 
    rgba(129, 175, 221, 1);
}
.form{
    width: 600px;
    margin-top: -28%;
}
.groupfoto{
    margin-top: -10%;
}
.spantexts{
    font-size: 12px;
    margin-left: -3%;
    margin-top: -9%;
}
.clogo{
    margin-top: 3%;
    margin-left: -4.5%;
}
.secondPage {
    width: 90%;
    height: 100vh;
    background: linear-gradient(to right,#0e3164,#0a182e ,#0e3164); 
    background-blend-mode: lighten;
} 
.ppt{
    margin-top: -3%;
}
.gpttext{
    color: #81AFDD;
    margin-top: -4%;
}
.poss{
    font-size: 2.8rem;
}
.rectangle{
    height: 13px !important;
}
.poss,.explore,.future,.request,.beyond,.alot{
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tri{
    width: 100%;
}
.request{
    font-size: 12px;
}
.po{
    width: 380px;
}
.opinion,.early{
     color: #81AFDD;
     font-size: 12px;
}
.onep{
    width: 150px;
}
.thirdPage{
    width: 100%;
    height: 100vh
}
.trifext{
    margin-left: 5%;
    width: 90%;
    gap: 12rem;
}
.future{
    font-size: 30px;
    width:390px ;
}
.tt{
    color: #81AFDD;
    font-size: 14px;
}
.pple{
    width: 150px;
}
.ppl{
    width: 120px;
}
.wom{
    width: 550px;
}
.evr4{
    margin-top: -12%;
}
.yy{
    width: 350px;
    margin-top: 10%;
    margin-left: 40%;
}
.ctaa{
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    width: 85%;
    height: 120px;
    margin-left: 5%;
}
.six{
    margin-top: 17%;
}
.yet{
    color: #81AFDD;
    font-size: 16px;
}
.gst{
    color: #FF4820;
    font-size: 12px;
}
.alot{
    font-size: 40px;
    width: 600px;
}
.fii{
    width: 100%;
}
.a,.b{
    width: 350px;
}
.b{
    margin-top: 17%;
    height: 300px;
}
.ba{
    height: 320px;
}
.c,.d{
    width: 300px;
    height: 120px;
}
.firstrow ,.secrow{
    width: 30%;
}
.corrs{
    margin-top: 20%;
}
.x{
    font-size: 13px;
    width: 50%;
}
.corr{
    font-size: 12px;
    margin-top: -37%;
    margin-left: -13%;
}

.lassp{
    font-weight: 800;
}
.bbn{
    font-size: 12px;
}
.ggff{
    width: 75%;
}
.spanlist{
    margin-left: 50%;
    margin-top:-8%;
}
.spanlist ul li, .cren{
    font-size: 10px;
}
.crenk{
    width: 55%;
}
.ll{
    margin-left: 40%;
    width: 35%;
}
.e-g{
    width: 500px;
}
.sin{
    height: 70px;
   
    background:#0a182e !important;
    margin-left: 6%;
    margin-top: -103%;
}
.transparent-border {
    border: 1px solid transparent !important;
}
.getstarted{
    background: #FF4820;
    width: 174px;
    margin-top: -43%;
    height: 70px;
    margin-left: 3%; 
    cursor: pointer !important;
}

.lassp{
    padding-top: 10%;
}




@media (min-width:360px) and (max-width:420px) {
    .letsbuild{
        width: 95%;

    }
    .e-g{
        width: 70%;
    }
    .sin{
        margin-top: 5%;
        margin-left: 24%;
        width:20px;
    }
    .getstarted{
        margin-top: 5%;
        margin-left: 50%;
        width: 40%;
        height: 30px;
    }
    .headill{
        width: 300px;
        height: 300px;
        margin-top: -3%;
        margin-left: 9%;
    }
    .subtext{
        width: 100%;
    }
    .textSub{
        margin-top: -60%;
        font-size: 13px;
        width: 100%; 
    }
    .groupfoto{
        margin-top: 13%;
    }
    .future{
        font-size: 14px;
        margin-left: -4%;
    }
    .rexx{
        font-size: 10px;
    }
    .request{
        margin-left: 20%;
    }
    .spantexts{
        margin-top: 13%;
        margin-left: 1%;
    }
    .clogo{
        margin-top: -5%;
        margin-left: -10%;
    }

    .secondPage{
        width: 100%;
        height: 800px ;
        margin-top: -50%;
    }
    .tri{
        margin-left: auto;
    }
    .ppt{
        margin-left: 25%;
    }
    .gpttext{
        margin-left: 2%;
    }
    .onep{
        width: 90%;
    }
    .poss{
        font-size: 15px;
    }
    .thirdPage{
        background:#040C18 ;
        height: 100vh;
    }
    .all{
        margin-top: -30%;
    }
    .from{
        margin-top: -40%;
    }
    .evr4{
        margin-top: 330px;
        width: 100%;
    }
    .wom{
        margin-left: 22%;
        width: 90%;
        /* margin-top: -2%; */
        margin-top: 27%;
    }
    .yy{
        margin-top: 210%;
        margin-left: 7%;
        /* width: 50%; */
        height: 10%;
    }
    .beyond{
        width: 100%;
        font-size: 12px;
    }
    .ctaa{
        margin-top: 80%;
        height: 140px;
    }
    .req{
        font-size: 12px;
    }
    .gsb{
        margin-top: -4%;
        margin-left: 15%;
    }
    
    .six{
        margin-top: 40%;
    }
    .firstrow,.secrow{
        width: 95%;
        margin-left: 5%;
    }
    .zerorow{
        width: 95%;
        margin-left: 8%;
    }
    .corrs{
        margin-top: 42%;
    }
    .early,.beyond,.gst,.yet{
        width: 100%;
    }
    
    .alot{
        font-size: 19px;
        width: 80%;
    }
    .a{
        margin-left: -4%;
        height: 200px;
        width: 320px;
    }
    .ba{
        height: 150px;
    }
    
    .x,.y{
        font-size: 7px;
    }

    .gp{
        margin-left: -2%;
    }
    
  .oc{
    margin-top: 4%;
  }
  .rea{
    margin-left: -55%;
    width: 200px;
  }
  .bbn{
    width:100%;
  }
  .ggff{
    width: 100%;
    
  }
  .mi{
    margin-top: 15%;
    width: 50%;
  }
  .spanlist{
    margin-top: -30%;
    margin-left: 36%;
  }
  .lasty{
    margin-left: 15%;
    width: 70%;
    
}
.lassp{
    font-size: 15px;
}
.lastPage{
    margin-top: 20%;
}   

.ll{
    width: 200px;
    margin-left: 24%;
}

} 

@media (min-width:768px) and (max-width:1024px) {
    .letsbuild{
        font-size: 27px !important;
       
    }
    .headill{
        width:650px;
        height: 570px;
        margin-left: 5%;
    }

    .textSub{
        margin-top: -10%;
        font-size: 20px;
        width: 95%; 
        margin-left: 3%;
        
    }

    .clogo{
       
        margin-top: -95%;
    }
    .groupfoto{
        margin-top: 3%;
    }
    .sin{
       
        margin-left: -10%;
        margin-top: -30%;
    }
 
    .getstarted{
        margin-top: -8%;
        margin-left: 24%;
        padding-top: 4%;
    }
    .e-g{
        margin-top: 20%;
        margin-left: 20%;
    }
    
    .secondPage{
        width: 100%;
        height: 700px;
    }
    .spantexts{
        margin-top: 4%;
        margin-left: 10%;
        font-size: 15px;
    }
   .request{
    margin-left: 30%;
    font-size: 15px;
   } 
   .all{
      margin-top: -19%;
   }
    
   .fourthPage{
    margin-top: 88%;
   }
    .zerorow{
        margin-left: 5%;
    }
   .firstrow,.secrow{
    margin-left: 10% !important;
   }
   .corrs{
    margin-top: 30%;
   }
   .corr {
    margin-top: -100%;
    width: 400px;
   }
   .mmg{
    width: 100%;
   }
    .wigpt{
        margin-top: 13%;
    }
    .ppt{
        margin-top: -12%;
    }
    .poss{
        font-size: 27px;
    }
    .future{
        width: 100%;
    }
    .from{
        margin-top: -17%;
    }
    .evr4{
        margin-top: -68%;
        margin-left: 3%;
    }
    .yy{
        margin-top: -40%;
        width: 37%;
        margin-left: 61%;
    }
    .ctaa{
        margin-top:10%;
    }
    .alot{
        width: 100%;
        font-size: 30px;
    }
    .sixthPage{
        margin-top: 29%;
    }
    .a,.b{
        width: 550px;
    }
    .a{
        height: 250px;
    }
    .ba{
        height: 260px;
    }

    .c,.d{
        width: 500px;
        height: 180px;
    }
    
    .e{
        padding-left: 13%;
    }
    .ss{
        padding-top: 8%;
        margin-left: 1%;
    }
    .gt{
        margin-top: -15%;
    }
    .lastPage{
        margin-top: 8%;
    }
    .mi {
        width: 30%;
        margin-top: 16%;
        margin-left: 5%;
    }
    .spanlist{
        margin-top: -24%;
        margin-left: 60%;
    }
    .lasty{
        margin-left: 15%;
        width: 70%;
        
    }
    .lassp{
        width:400px !important;
        margin-left: 70px !important;
        font-size: 26px;
    
        
    }
    .ll{
        width: 100%;
        margin-left: 40%;
    }

}
@media (max-width:360px) {
    
    .subtext{
        margin-top: -9%;
    }
    .textSub{
        width: 85% ;
        margin-left: 6%;
      
    }
    .gp{
        margin-left: -7%;
        
    }

 .future{
    margin-top: -32% !important ;
    margin-left: -5% !important;
 }
 .fourthPage{
    margin-top: -20% !important;
   
 }
 .yet{
    width: 95%;
    font-size: 12px;
    margin-left: -3.5%;
 }
 .d{
    height: 140px !important;
 }
 .corr{
    margin-top: -45%;
 }
 .firstrow , .secrow{
    margin-left: 3%;
   
 }
 .zerorow{
    margin-left: 4%;
    
 }

 .wom{
    margin-top: -5%;
 }
    /* .popo{
        background-color: #0e3164 !important;
        width: 100%;
        border: transparent;
    } */
    .po{
        width: 90%;
    }
    .secondPage{
       
        height: 800px !important;
    }
    .thirdPage{
        margin-top: 50%;
    }
    .request{
        margin-left: 15%;
    }
    
    .future{
        margin-left: -10%;
        width: 95%;
        
    }
    .yy{
        width: 95%;
    }
    .early{
        width: 90%;
    }
    .beyond{
        width: 80%;
    }
    .lastPage{
        padding: 0 15px;
        margin-top: -10%;
    }
    .lassp{
       
        margin: 0 auto;
        font-size: 18px;
    }
    .rea{
        margin-left: -60%;
        width: 200px;
    }
    .ll{
        
        margin-left: 9%;
        width: 90%;
    }
}

@media (max-width:393px) {
    .textSub{
        margin-top: -70%;
    }
    .gp{
        margin-left: -7%;
    }
}
